@charset "utf-8";
/*@charset "utf-8";*/

/* CSS Reset 			----------------------------------------*/

body{ width:100%; overflow-x:hidden;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding:0;
	margin:0;
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset {
	border:0
}
img {
	border: 0;
	background: url(loading.gif) no-repeat 0 0;
}
address, caption, cite, code, dfn, em, th, var {
	font-weight:normal;
	font-style:normal
}
strong, b {
	font-weight: bold;
}
ol, ul {
	list-style:none
}
caption, th {
	text-align:left
}
h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}
h1, h2 {
	font-family: 微软雅黑, 华文细黑, 黑体, Arial;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 12px;
}
h5 {
	font-size: 12px;
}
q:before, q:after {
	content:''
}
abbr, acronym {
	border:0
}
hr {
	margin: 0;
	padding: 0;
	border: 0;
	color: #CDCDCD;
	background-color: #CCC;
	height: 1px;
}
blockquote {
	color:#666;
	font-style: normal;
}
sup, sub {
	line-height:0
}
abbr, acronym {
	border-bottom:1px dotted #666
}
pre {
	white-space:pre;
}
pre, code, tt {
	font:12px 'andale mono', 'lucida console', monospace;
	line-height:1.5
}
area {
blr:expression(this.onFocus=this.blur())
}
body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, textarea, blockquote, th, td {
	font-family:"微软雅黑";
	font-size: 12px;
	color: #666666;
	line-height: 1.5
}
p {
	padding: 0 0 1em 0;
	line-height: 1.5;
}
a {
	color:#333333;
	text-decoration:none;
blr:expression(this.onFocus=this.blur());
}
a:hover {
	color:#c20c25;
	text-decoration:none;
}
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}
.clear {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
.wd10 {
	width:10px;
}
.wd20 {
	width:20px;
}
.wd30 {
	width:30px;
}
.wd40 {
	width:40px;
}
.wd50 {
	width:50px;
}
.wd60 {
	width:60px;
}
.wd70 {
	width:70px;
}
.wd80 {
	width:80px;
}
.wd90 {
	width:90px;
}
.wd100 {
	width:100px;
}
.wd110 {
	width:110px;
}
.wd120 {
	width:120px;
}
.wd130 {
	width:130px;
}
.wd140 {
	width:140px;
}
.wd150 {
	width:150px;
}
.wd160 {
	width:160px;
}
.wd170 {
	width:170px;
}
.wd180 {
	width:180px;
}
.wd190 {
	width:190px;
}
.wd200 {
	width:200px;
}
.wd210 {
	width:210px;
}
.wd220 {
	width:220px;
}
.wd230 {
	width:230px;
}
.wd240 {
	width:240px;
}
.wd250 {
	width:250px;
}
.wd260 {
	width:260px;
}
.wd270 {
	width:270px;
}
.wd280 {
	width:280px;
}
.wd290 {
	width:290px;
}
.wd300 {
	width:300px;
}
.wd310 {
	width:310px;
}
.wd320 {
	width:320px;
}
.wd330 {
	width:330px;
}
.wd340 {
	width:340px;
}
.wd350 {
	width:350px;
}
.wd360 {
	width:360px;
}
.wd370 {
	width:370px;
}
.wd380 {
	width:380px;
}
.wd390 {
	width:390px;
}
/*顶部开始*/
.header {
	height:170px;
	overflow:hidden;
}
.header-inner {
	background:#f7f7f7;
	border-bottom:1px solid #eeeef0;
	height:37px;
	position:relative;
	z-index:100;
}
.wrap-layer {
	width:1200px;
	margin:0 auto;
	overflow:hidden;
}
/*登录*/
.login-before {
	line-height:37px;
}
.login-before .top-login {
	display:inline-block;
*zoom:1;
*display:inline;
	vertical-align:middle;
	margin-left:35px;
	background:url(images/member_ico.jpg) 0 9px no-repeat;
	padding-left:23px;
}
.login-before .top-reg {
	display:inline-block;
*zoom:1;
*display:inline;
	vertical-align:middle;
	margin-left:18px;
}
.login-after span {
	color:#ee781e;
	padding-right:3px;
	line-height:37px;
}
.login-after .mem-link {
	color:#ee781e;
	padding-right:0px;
	padding-left:10px;
}
.wrap-login-L {
	float:left;
}
.wrap-link-R {
	float:right;
	line-height:37px;
	text-align:right;
}
.wrap-layer-vis{ overflow:visible;}

.link1 {
	display:inline-block;
*zoom:1;
*display:inline;
	vertical-align:middle;
	background:url(images/weixin.jpg) right center no-repeat;
	padding-right:25px;
	margin-left:20px;
	position:relative;
}
.link1 em,.link2 em{ position:absolute; left:-28px; top:35px; width:100px; text-align:center; line-height:20px; display:none; color:#333;border:1px solid #ccc; background:#fff; padding-bottom:5px;}
.link1 em img,.link2 em img{ position:relative; }
.link1 b,.link2 b{background:url(images/arrow_top.png) center 0 no-repeat; width:24px; height:5px; display:block;  margin:0 auto; position:relative; margin-top:-5px;}

.wrap-link-R .bdsharebuttonbox{ background:none; display:inline;}
.wrap-link-R .bdshare-button-style0-24 .bds_more{ float:none;display:inline-block;
*zoom:1;
*display:inline;
	vertical-align:middle;
	background:url(images/share.jpg) right center no-repeat;
	padding-right:25px;
	margin-left:20px; font-size:12px; margin-left:0; }

.bdshare_popup_box{ margin-left:-110px;}

.link2 {
		position:relative;
	display:inline-block;
*zoom:1;
*display:inline;
	vertical-align:middle;
	background:url(images/sina_ico.jpg) right center no-repeat;
	padding-right:25px;
	margin-left:20px;
}
.link3 {
	display:inline-block;
*zoom:1;
*display:inline;
	vertical-align:middle;
	background:url(images/share.jpg) right center no-repeat;
	padding-right:25px;
	margin-left:20px;
}
.tel {
	display:inline-block;
*zoom:1;
	font-size:16px;
	color:#c61522;
*display:inline;
	vertical-align:middle;
	line-height:37px;
	padding-right:25px;
}
.tel span {
	font-size:14px;
	color:#666;
	padding-right:6px;
}
.logo {
	float:left;
	padding-top:30px;
}
.logo img{ width:160px; height:auto;}
.search-wrap {
	float:right;
	width:880px;
	background:url(images/bg40.png) right center no-repeat;
}
.tabs {
	margin-top:25px;
}
.tabs span {
	width:74px;
	cursor:pointer;
	font-size:14px;
	text-align:center;
	display:inline-block;
*zoom:1;
*display:inline;
	height:32px;
	line-height:32px;
}
.tabs span.cr {
	background:#ee781e;
	color:#fff;
}
.search-info {
	width:495px;
	height:42px;
	border:2px solid #ee781e;
	overflow:hidden;
}
.inputcss{  height:38px; line-height:normal; border:none; width:390px; padding-left:15px;}
.sel {
	float:left;
	width:117px;
	padding:5px 10px;
	border-left:1px solid #d5d5d5;
	height:32px;
}
.sel select {
	width:116px;
	height:32px;
	line-height:normal;
	height:24px\9;
	margin-top:4px\9;
	line-height:18px;
	font-family:"微软雅黑";
}
.sel-noboder {
	border:none;
}
.sear-btn {
	float:right;
	width:80px;
	height:43px;
	overflow:hidden;
	position:relative;
	top:-1px;
}
.sear-btn a {
	display:inline-block;
*zoom:1;
*display:inline;
	vertical-align:middle;
	background:#ee781e;
	color:#fff;
	line-height:43px;
	font-size:15px;
	text-align:center;
	width:80px;
	height:43px;
}
.sear-btn a:hover {
	color:#fff;
}
.search-cnt {
	width:500px;
	float:left;
}
.pro-key {
	float:left;
	width:240px;
	padding-left:120px;
	padding-top:55px;
	font-size:14px;
}
.pro-key a {
	color:#666666;
	padding-right:12px;
	font-size:14px;
	padding-top:2px;
	white-space:nowrap;
}
.menu-wrap { position:relative;
	background:#ee781e;
	height:47px;
	z-index:99;
}
.menu-wrap ul li {
	float:left;
	height:47px;
	text-align:center;
	display:block;
}
.menu-wrap ul li a {
	line-height:47px;
	font-size:17px;
	color:#fff;
	padding-left:44px;
	padding-right:44px;
	display:block;
	text-align:center;
}
.menu-wrap ul li a span {
	background:url(images/menu.gif) right center no-repeat;
	padding-right:20px;
}
.menu-wrap ul li a:hover, .menu-wrap ul li.cr a {
	background:#d58305;
}
.menu-wrap ul li.Nobg a span {
	background:none;
	padding-right:0;
}
.menu-wrap ul li.cr a:hover {
	background:#d58305;
	color:#FFF;
}
.wrap-layermenu{ position:absolute;background:#f8f8f8; /*border-bottom:#e1e1e1 solid 1px;*/ box-shadow:#C1C1C1 0px 1px 5px; width:100%; top:215px; left:0; z-index:88; display:none;}
.submenu-css{  width:1200px; margin:0 auto; /*filter:alpha(opacity=99); -moz-opacity:0.99; -khtml-opacity: 0.99; opacity: 0.99;*/  height:100%; overflow:hidden;}
.submenu-css ul{ float:left; width:132px; padding-left:44px; padding-top:10px; padding-bottom:20px; }
.submenu-css ul.submenu_1{ padding-left:186px;}
.submenu-css ul li a{ font-size:14px; line-height:30px; padding-left:10px; background:url(images/li_02.gif) 0 center no-repeat;}

/*理财银行推荐开始*/
.pro-count {
	background:#ebebeb;
	height:316px;
	overflow:hidden;
}
.ad-left {
	width:140px;
	float:left;
}
.ad-right {
	width:140px;
	float:right;
}
.screen-mid {
	width:865px;
	float:left;
	margin-left:27px;
	display:inline-block;
*zoom:1;
*display:inline;
	height:256px;
	background:#fff;
}
.com-height30 {
	height:30px;
	overflow:hidden;
}
.screen-mid .tab li {
	cursor:pointer;
	text-align:center;
	border-right:1px solid #e5e5e5;
	float:left;
	width:155px;
	height:43px;
	display:block;
	line-height:45px;
	background:#f8f8f8;
}
.screen-mid .tab ul {
	display:block;
	width:510px;
	float:left;
}
.screen-mid .tab {
	border-bottom:1px solid #e5e5e5;
	height:43px;
	margin-right:22px;
	/*overflow:hidden;*/
}
.screen-mid .tab li.ico1 span {
	background:url(images/tab_ico1.png) 0 center no-repeat;
}
.screen-mid .tab li.ico2 span {
	background:url(images/tab_ico2.png) 0 center no-repeat;
}
.screen-mid .tab li.ico3 span {
	background:url(images/tab_ico3.png) 0 center no-repeat;
}
.screen-mid .tab li.hover1 {
	background:#ffffff;
	border-bottom:none;
	position:relative;
	top:1px;
}
.screen-mid .tab li.hover1 span {
	color:#ee781e;
	background:url(images/tab_ico1hover.png) 0 center no-repeat;
	position:relative;
	top:-1px;
}
.screen-mid .tab li.hover2 {
	background:#ffffff;
	border-bottom:none;
	position:relative;
	top:1px;
}
.screen-mid .tab li.hover2 span {
	color:#ee781e;
	background:url(images/tab_ico2hover.png) 0 center no-repeat;
	position:relative;
	top:-1px;
}
.screen-mid .tab li.hover3 {
	background:#ffffff;
	border-bottom:none;
	position:relative;
	top:1px;
}
.screen-mid .tab li.hover3 span {
	color:#ee781e;
	background:url(images/tab_ico3hover.png) 0 center no-repeat;
	position:relative;
	top:-1px;
}
.screen-mid li span {
	font-size:15px;
	padding-left:28px;
}
.more {
	background:url(images/more.gif) right center no-repeat;
	color:#666;
	margin-top:15px;
	display:inline-block;
*zoom:1;
*display:inline;
	float:right;
	padding-right:13px;
}
.bank-pic {
	margin-top:22px;
}
.bank-pic img {
	border:1px solid #dcdcdc;
	margin-right:16px;
	width:100px;
	height:50px;
}
.screen-mid .bank-pic {
	padding-left:25px;
}
.bank-list {
	padding-left:25px;
	padding-top:18px;
}
.bank-list li {
	width:102px;
	font-size:14px;
	color:#333333;
	float:left;
	padding-right:15px;
	line-height:25px; 
}
.bank-list li a {
	font-size:14px;
	color:#333333;text-overflow:ellipsis;word-break:keep-all; white-space:nowrap;display:block;width:110px; overflow:hidden;
}
/*理财热点*/
.wrap-L {
	width:820px;
	float:left;
	overflow:hidden;
}
.wrap-top {
	margin-top:25px;
	border-bottom:1px solid #a2a2a2;
	margin-bottom:25px;
}
.wrap-top2 {
	margin-bottom:05px;
}
.wrap-top h3 {
	color:#333;
	float:left;
	border-bottom:2px solid #ee781e;
	padding-bottom:12px;
	position:relative;
	top:1px;
	font-size:20px;
	font-weight:normal;
}
.hot-key {
	float:right;
	text-align:right;
	width:550px;
	padding-top:10px;
}
.hot-key a {
	padding-left:20px;
	font-size:14px;
}
.news-pic {
	height:100%;
	overflow:hidden;
}
.news-pic .content {
	width:570px;
	float:left;
	padding-left:27px;
}
.news-pic .content h3 {
	padding-bottom:20px;
	padding-top:8px;
}
.news-pic .content h3 span {
	font-weight:normal;
	padding-left:20px;
}
.news-pic .content h3 a {
	font-size:20px;
	font-weight:normal;
}
.news-pic .pic {
	float:left;
	width:220px;
	height:165px;
}
.news-pic .pic img {
	width:220px;
	height:165px;
}
.news-pic .content .txt a {
	font-size:14px;
	line-height:24px;
	color:#999999;
}
.news-list {
	padding-top:24px;
}
.news-list ul {
	width:900px;
}
.news-list li {
	position:relative;
	float:left;
	margin-right:50px;
	background: url(images/dotted.jpg) 0 center no-repeat;
	width:282px;
	display: block;
	padding-right:95px;
	overflow:hidden;
	line-height:26px;
	height:26px;
}
.news-list5 li{ line-height:28px; height:28px;} 
.news-list5 li a{} 
.news-list5 li{ padding-right:0; margin-right:0; width:330px;}


.news-list li a {
	font-size:14px;
	color:#666;
	padding: 0 0 0px 12px;
	float: left;
}
.news-list li a:hover {
	color:#c20c25;
	text-decoration:none;
}
.news-list .line {
	float:left;
}
.news-list .time {
	position:absolute;
	color:#999999;
	right:0;
	font-size:12px;
	padding: 0 2px 0 0;
	background:none;
}
.news-list .new {
	background: none;
	width: 30px;
	height: 11px;
	line-height:11px;
	padding: 2px 0 0 2px;
	float: left;
	text-indent: -9999px;
}
.news-list .hot {
	background: none;
	width: 30px;
	height: 11px;
	line-height:11px;
	padding: 2px 0 0 2px;
	float: left;
	text-indent: -9999px;
}
.news-list br {
	clear: both;
}
.hot1 {
	position:relative;
	top:0px;
	left:5px;
}
.news-list2 {
	padding-top:18px;
}
.news-list2 ul {
	width:330px;
}
.com-ad2 {
	margin-top:37px;
	margin-bottom:10px;/**/
}
.wrap-R {
	float:right;
	width:330px;
	overflow:hidden;
}
.more2 {
	background:url(images/more.gif) right center no-repeat;
	font-size:14px;
	color:#666;
	margin-top:12px;
	display:inline-block;
*zoom:1;
*display:inline;
	float:right;
	padding-right:13px;
}
/*人物专访*/
.news-pic2 {
	height:100px;
	overflow:hidden;
}
.news-pic2 .pic {
	float:left;
	width:100px;
	height:100px;
}
.news-pic2 .content h3 {
	padding-bottom:5px;
}
.news-pic2 .content {
	width:205px;
	float:left;
	padding-left:18px;
}
.news-pic2 .pic img {
	width:100px;
	height:100px;
}
.lines {
	border-bottom:1px solid #ececec;
	height:1px;
	overflow:hidden;
	margin-top:20px;
	margin-bottom:20px;
}
.news-pic3 {
	margin-bottom:5px;
	height:100%;
	overflow:hidden;
}
.news-pic3 .pic {
	float:left;
	width:120px;
	height:90px;
}
.news-pic3 .content h3 {
	padding-bottom:5px;
	font-size:16px;
	padding-top:0;
}
.news-pic3 .content h3 a {
	font-size:16px;
}
.news-pic3 .content {
	width:245px;
	float:left;
	padding-left:18px;
}
.news-pic3 .content .txt, .news-pic3 .content .txt a {
	font-size:12px;
	line-height:18px;
}
.news-pic3 .pic img {
	width:120px;
	height:90px;
}
/*理财产品*/
.con-table th {
	font-size:14px;
	text-align:center;
	border-left:1px solid #fff;
	background:#d48304;
	color:#fff;
	height:34px;
}
.con-table td {
	font-size:14px;
	text-align:center;
	height:34px;
	border-bottom:1px solid #ececec;
}
.con-table th.light-bg {
	background:#e68d03;
}
.con-table tr.hover td {
	background:#fafafa;
	border-bottom:1px solid #ececec;
}
.con-table td .pro-tits, .con-table td a .pro-tits {
	color:#333;
}
.con-table td .redcss {
	color:#ff0000;
}

.con-table2 a {
	color:#666;
}
.new_pic1 img {
	width:220px;
	height:135px;
}
.new_pic2 {
	width:220px;
	height:135px;
	margin-top:5px;
}
.new_pic2 table {
	width:220px;
	height:135px;
}
.new_pic2 td {
	height:100%;
	background:#d48304;
	text-align:center;
	font-size:16px;
	color:#fff;
}
.new_pic2 td a {
	text-align:center;
	font-size:16px;
	color:#fff;
}
.new_pic4 img {
	width:220px;
	height:135px;
	margin-top:5px;
}
.new_pic5 {
	width:220px;
	height:135px;
	margin-top:0px;
}
.new_pic5 table {
	width:220px;
	height:135px;
}
.new_pic5 td {
	height:100%;
	background:#c61522;
	text-align:center;
	font-size:16px;
	color:#fff;
}
.new_pic5 td a, .new_pic5 td a:hover {
	text-align:center;
	font-size:16px;
	color:#fff;
}
.new-pro-L {
	width:220px;
	float:left;
}
.new-pro-M {
	width:370px;
	height:275px;
	float:left;
	display:inline;
	margin-left:5px;
	margin-right:5px;
}
.new-pic3 {
	width:370px;
	height:275px;
	float:left;
	position:relative;
}
.new-pic3 img {
	width:370px;
	height:275px;
}
.new-pic3 .txt {
	bottom:0;
	left:0;
	position:absolute;
	width:370px;
	height:46px;
	text-align:center;
	color:#fff;
	line-height:46px;
	font-size:16px;
	height:46px;
	background:url(images/adbg.png);
}
.new-pic3 .txt a {
	color:#fff;
	font-size:16px;
}
/*理财资讯*/
.news-L {
	width:385px;
	float:left;
	overflow:hidden;
}
.news-R {
	width:385px;
	float:right;
	overflow:hidden;
}
.knowlege {
	margin-top:18px;
}
.knowlege a {
	margin-bottom:5px;
	float:left;
	background:#d48304;
	color:#fff;
	padding:3px 15px;
	margin-right:5px;
}
.bank-ad {
	margin-top:35px;
}
.bank-ad img {
	width:330px;
	height:125px;
}
/*理财工具*/
.wrap-tools {
	width:330px;
	overflow:hidden;
	height:235px;
	overflow:hidden;
}
.wrap-tools .tools {
	width:350px;
}
.tools a {
/*	background:#c61522;*/
	margin-bottom:20px;
	margin-right:25px;
	color:#fff;
	font-size:12px;
	text-align:center;
	display:inlne-block;
*zoom:1;
*display:inline;
	float:left;
	width:90px;
	height:90px;
}
/*.tools a.tool-cells {
	background:#d48304;
}*/
.tools a:hover {
	color:#fff;
}
.tools a img {
	display:block;
		width:90px;
	height:90px;
	/*padding-top:10px;*/
}
/*友情链接开始*/
.links {
}
.links a {
	font-size:14px;
	color:#666;
	padding-right:35px;
	line-height:30px;
	float:left;
}
.links a:hover {
	color:#ee781e;
}
/*友情链接结束*/

/*底部开始*/
.footer-nav {
	width:300px;
	padding-right:180px;
	float:left;
}
.fot-tit {
	font-size:18px;
	color:#ccc;
	margin-top:40px;
	padding-bottom:30px;
	font-weight:normal;
}
.footer-nav a {
	display:inline-block;
*zoom:1;
*display:inline;
	width:95px;
	font-size:14px;
	line-height:27px;
	color:#cccccc;
}
.footer-nav a:hover {
	display:inline-block;
*zoom:1;
*display:inline;
	width:95px;
	font-size:14px;
	line-height:27px;
	color:#fff;
}
.footer {
	background:#363636;
	min-height:433px;
	_height:433px;
	margin-top:50px;
}
.foucus-css a {
	color:#999999;
	display:inline-block;
*zoom:1;
*display:inline;
	margin-right:15px;
	width:86px;
	font-size:14px;
	text-align:center;
}
.foucus-css a:hover {
	color:#fff;
}
.foucus-css a span {
	display:block;
	padding-bottom:9px;
}
.foucus-css {
	width:450px;
	float:left;
	overflow:hidden;
}
.fot-telcss img {
	vertical-align:middle;
	margin-right:5px;
}
.fot-telcss div {
	font-size:15px;
	color:#999999;
}
.fot-telcss div.tels {
	padding-bottom:10px;
	font-size:20px;
	color:#999999;
}
.copy-right {
	border-top:1px solid #565656;
	text-align:center;
	line-height:22px;
	padding-top:35px;
	margin-top:35px;
}
.copy-right img {
	margin-right:15px;
	margin-left:15px;
	margin-top:30px;
}
/*底部结束*/




/*理财产品首页轮播图开始*/

.roll-ad {
	position:relative;
	height:310px;
	width:390px;
	overflow:hidden;
	float:left;
}
.st_scroll {
	position: absolute;
	left:0;
	top:0;
	height:310px;
	width:310px;
	overflow:hidden;
}
.st_scroll li {
	float:left;
	display:inline;
	width:390px;
	overflow:hidden;
	height:310px;
	padding-right:30px;
}
.arw {
	position:absolute;
	bottom:18px;
	right:8px;
}
.arw li {
	float:left;
	line-height:20px;
	color:#fff;
	font-size:18px;
}
.arw a {
	width:30px;
	height:20px;
	float:left;
	display:block;
}
.arw .prv a {
	background: url(images/left_btn.gif) no-repeat center center;
}
.arw .next a {
	background: url(images/right_btn.gif) no-repeat center center;
}
.roll-ad .txt {
	background: url(images/adbg1.png);
	height:56px;
	width:390px;
	position:relative;
	bottom:56px;
	left:0;
}
.roll-ad  .txt a {
	color:#fff;
	font-size:14px;
	padding-right:140px;
	padding-top:5px;
	padding-left:25px;
	display:block;
}
.roll-ad  .txt a:hover {
	color:#fff;
}
/*理财产品首页轮播图结束*/


/*推荐资讯*/
.recomed{ width:395px; float:right; overflow:hidden;}
.pro-news-pic { border-bottom:1px solid #e3e3e3; padding-bottom:20px; height:117px; overflow:hidden;}
.pro-news-pic  .content{ margin-left:0; width:395px; padding-left:0;}
.pro-news-pic .content h3{ padding-bottom:15px; padding-top:0px;}


/*新闻资讯推荐*/
.pro-news-pic2 { margin-top:15px; border-bottom:none; padding-bottom:0px; height:107px; overflow:hidden; position:relative; top:5px;}
.pro-news-pic2  .content{ margin-left:0; width:395px; padding-left:0;}
.pro-news-pic2 .content h3{ padding-bottom:5px; padding-top:0px;}
.pro-news-pic2 .content h3 a{ font-size:16px;}
.news-list4 ul{ width:395px;}
.news-list4 ul li{ width:317px; margin-right:0; padding-right:78px;}
.news-list4 ul li a{ color:#666;}
.wrap-top4{ margin-top:0; margin-bottom:0;}
.my-sort{ background:#fbfbfb; padding-top:15px;}

.my-sort ul li{ font-size:14px; border-bottom:1px solid #e3e3e3; padding-bottom:10px; padding-top:10px; padding-left:90px; padding-right:5px; position:relative;}
.my-sort ul li a{ font-size:12px; color:#0055bb; padding-right:10px;}
.my-sort ul li a:hover{color:#0055bb; }
.my-sort ul li span{ position:absolute; left:0; width:85px; text-align:right;}


/*产品列表*/
.my-sort2 {  padding-top:5px;}
.my-sort2 ul li{ font-size:12px; color:#333333; padding-left:85px; }
.my-sort2 ul li a{ font-size:12px; color:#0055bb; padding:1px 8px; margin-left:10px; margin-right:10px;}
.my-sort2 ul li a.cr,.my-sort2 ul li a:hover{  background:#ee781e; color:#fff;}

.con-table3{ margin-top:30px;}
.con-table3 tr td{ padding:15px 4px}
.con-table3 .pro-bankpic{ float:left; width:95px; height:55px; text-align:left;}
.con-table3 .pro-bankpic img{ border:1px solid #dcdcdc; width:80px; height:40px;}

.con-table3 .bank-cnt,.con-table3 .bank-cnt a { width:240px; float:left; text-align:left; color:#000;font-size:14px;}
.con-table3 .bank-cnt a:hover{color:#ca2531;}
.con-table3 .bank-cnt h4,.con-table2 .bank-cnt a h4{ color:#666; font-size:14px;font-weight:normal }
.con-table3 span.bluecss{ color:#0055bb;}

.con-table3 span.redcss{ color:#ca2531; font-size:18px;}
.con-table3 span.compare,.con-table2 a span.compare{ color:#fff; background:#c61522; padding:1px 8px; font-size:12px; }


/*热门理财产品开始*/
.pro-tab{ margin-bottom:23px;}
.pro-tab a{ background:#e3e3e3; text-align:center; line-height:40px; font-size:14px; display:inline-block; *display:inline;*zoom:1; width:272px; height:40px; border-left:1px solid #fff;}
.pro-tab a.cr,.pro-tab a:hover{background:#ee781e; color:#fff;}
.capt-css a{ margin-right:8px; margin-bottom:8px; background:#eeeeee; border:1px solid #dcdcdc;display:inline-block; *display:inline;*zoom:1; width:21px; height:21px; line-height:21px; text-align:center; }
.capt-css a:hover,.capt-css a.cr{ background:#ee781e; color:#fff;}

/*热门理财产品开始*/
.remmed-pro .pro-imgs img{ border:1px solid #dcdcdc; width:100px; height:54px;}
.remmed-tit,.remmed-tit a,.remmed-tit a:hover{ color:#000000; font-size:14px;}
.param-css em,.percent{ color:#c61422; padding-right:20px;font-size:14px;}
.remmed-pro td{ border-bottom:1px solid #e3e3e3; padding:23px 0; font-size:14px;}

.remmed-pro .ranks{background: url(images/rank_bg1.png) no-repeat; width:23px; height:23px; display:block; font-size:12px; line-height:23px; color:#000; text-align:center;}
.remmed-pro .cr{background: url(images/rank_bg.png) no-repeat; width:23px; height:23px; display:block;  font-size:12px; line-height:23px;color:#fff;  text-align:center;}
.param-css{ padding-top:5px;}


/*理财新品推荐开始*/
.new-recomed{ border-bottom:1px solid #e3e3e3; padding-bottom:25px;}
.new-recomed img{ width:140px; height:70px; border:1px solid #dcdcdc;}
.new-recomed .cell{ width:140px; float:left; padding-left:12px; padding-right:12px;}
.new-recomed .new-tit{ width:140px; text-align:center; padding-top:10px;}
.new-recomed .new-tit a,.new-recomed .new-tit a:hover,.new-recomed .new-tit{ color:#0055bb; font-size:14px;}
.new-recomed  .new-tit span{ color:#333333;padding-top:5px; display:block;}

.lists{ margin-top:23px;}
.lists ul li{ margin-bottom:24px;}
.lists ul li span{ color:#000; font-size:14px;}
.lists ul li,.lists ul li a,.lists ul li a:hover{ color:#0055bb; font-size:14px;}
.lists ul li  em{ color:#666; font-size:14px; padding-top:5px; display:block;}

/*理财新品推荐开始*/
.news-pic4 .content{ width:180px;}


/*理财新品推荐开始*/


.local{ height: 28px; text-align: left;  padding-right:5px;color: #666; padding-bottom:5px; border-bottom:1px solid #dcdcdc;  }
.local ul{ padding:0; margin: 0; display: block;}/* 撑高 */
.local li{  padding: 0; margin: 0;  display: inline;color: #666; }
.local a{ padding: 0 12px 0 0; font-size:14px; background:url(images/li_02.gif) no-repeat right center;  color: #666; }
.local a:hover{color: #ee781e; text-decoration:none; }
.local .home{ padding: 0 0 0 4px; background: none; }
.local .cr{ font-size:14px; }


/*分页开始*/

.page{ margin:0px;overflow:hidden; }
.page ul{text-align:center; display:block;}
.page li { margin:0 3px;display:inline-block;*display:inline;*zoom:1; vertical-align:top;}


.page li a {  width:30px; height:30px; font-size:14px; border:1px solid #dcdcdc;line-height:30px; text-align:center;/*border:1px solid #ababab;*/ display:block; color:#000000; }
.page li a:hover{color:#fff;  background: #ee781e;border:1px solid #ee781e;}
.page li.cr a { color:#fff; background:#ee781e;border:1px solid #ee781e; display:block; width:30px; height:30px;text-align:center; /*border:1px solid #910100;*/ }
.page li.cr a:hover{color:#fff;}
.page li.prev { width:30px; height:30px;}
.page li.prev a {  background: url(images/pre.jpg) no-repeat 0 0; display:block; width:30px; height:30px;text-indent:-99999px; }
.page li.next { width:30px; height:30px; }
.page li.next a { background: url(images/next.jpg) no-repeat 0 0;  display:block; width:30px; height:30px;text-indent:-99999px; }
.page li.total{ padding-left:35px; line-height:30px; font-size:14px;} 
.page li.total em{ color:#d1444e; padding:0 2px;}

.page li.first a{background: url(images/pre_1.jpg) no-repeat 0 0; width:60px;}

.page li.last a{background: url(images/pre_2.jpg) no-repeat 0 0; width:60px;}

/*资讯列表页开始*/
.newslist .core{ padding:22px 0; border-bottom:1px solid #ececec}
.newslist .core h4 a{ color:#333; font-size:20px; font-weight:normal;}
.newslist .core h4 a:hover{ color:#c20225;}
.newslist .core h4 { padding-bottom:10px; position:relative; padding-right:120px;}
.newslist .core h4  .time{ position:absolute; right:0; font-size:14px; color:#666; top:5px; font-weight:normal;}
.newslist .core  .txt a{ font-size:14px; color:#666; line-height:28px;}
.newslist .core  .txt a:hover{color:#c20225;}

/*资讯最终页*/
.newsinfo-wrap{ min-height:200px; _height:200px;padding:18px 0 0; margin:0 auto; }
.newsinfo-wrap .core{clear: both;  padding: 0 8px 0 4px;}
.newsinfo-wrap h3{ font-size: 26px; font-family: 微软雅黑, 华文细黑, 黑体, Arial; color:#333333; font-weight:normal;  text-align: left; padding: 8px 0 10px 0; }
.newsinfo-wrap h4{ font-size: 18px; font-weight: normal; font-family: 微软雅黑, 华文细黑, 黑体, Arial;  text-align: center; padding: 0 0 12px 0; }
.newsinfo-wrap .source{ margin-top:15px; height: 30px; /*border-top: 1px  dotted #ccc;*/ border-bottom: 1px solid #e7e7e7; overflow: hidden; }
.newsinfo-wrap .source ul{ margin: 0; padding: 0; text-align: left; color: #999999; }
.newsinfo-wrap .source li{ display: inline; float:left; font-size:14px; padding: 0 8px;color: #999999;}
.newsinfo-wrap .content{ margin:20px 0 0;}
.newsinfo-wrap .content,.newsinfo-wrap .content p,.newsinfo-wrap .content div,.newsinfo-wrap .content li{ font-size:16px; line-height:30px; color:#666;}
.newsinfo-wrap .content p{ padding:0 0 1em 0; text-indent:2em;}
.newsinfo-wrap a{ color:#666;text-decoration:none;}
.newsinfo-wrap a:hover{ color:#666;}
.newsinfo-wrap .source li.talk_ico,.newsinfo-wrap .source li.fav_ico{ float:right;}
.newsinfo-wrap .source li.talk_ico a{background: url(images/guest_ico.jpg) no-repeat 0 0; padding-left:26px; color:#ee781e; display:inline-block; *display:inline; *zoom:1; }
.newsinfo-wrap .source li.fav_ico a{background: url(images/fav.jpg) no-repeat 0 0; padding-left:26px; color:#ee781e; display:inline-block; *display:inline; *zoom:1; }
.newsinfo-wrap .content  div.reader-author{ background:#f9f9f9;  color:#999999;  border:1px solid #ececec; font-size:12px; margin-top:20px; padding:10px 20px;
}

.top-tit{ font-size:20px; color:#333333; font-weight:normal; padding-top:28px; margin-bottom:18px;}
.top-tit span{ font-size:14px;}
.top-tit span a{ color:#d5535d; padding:0 5px;} 
.box-css{ background:#f9f9f9;  color:#999999;  border:1px solid #ececec; padding:20px 30px;  }

/*资讯最终页*/
.readlist{ width:818px; overflow:hidden;}
.readlist ul{ width:1000px;}
.readlist ul li{ float:left; height:28px; overflow:hidden; line-height:28px;background: url(images/dotted2.jpg) no-repeat 0  center; padding-left:15px; width:335px; padding-right:45px; }
.readlist ul li a{ font-size:14px; color:#333333;}
.readlist ul li a:hover{ color:#c61522;}
.textareacss textarea{ width:808px; border:1px solid #dcdcdc; height:77px; overflow:auto; padding-top:10px; padding-left:10px;}
.wrap-revbtn{ background:#f9f9f9;border:1px solid #ececec; height:49px; overflow:hidden; border-top:none;}
.rev-login{ float:left; padding-left:20px; line-height:49px;}
.rev-login input{ height:23px; line-height:normal; border:1px solid #dcdcdc; width:122px; padding-left:4px; margin-left:14px; margin-right:18px; vertical-align:middle;}


.rev-btn{ float:right; padding-top:12px; padding-right:18px;}
.com-btn { background:#ee781e; width:75px; height:26px; line-height:26px; color:#fff; vertical-align:middle; text-align:center; display:inline-block; *display:inline;*zoom:1;}
a.com-btn:hover,a.login-btn:hover{ color:#fff;}
.reg-css{ padding-left:25px; padding-right:6px;}
.forget-css{ padding-left:6px;}
.login-btn { background:#c61522; width:75px; height:26px; line-height:26px; color:#fff; vertical-align:middle; text-align:center; display:inline-block; *display:inline;*zoom:1;}

.has-login{ float:left; padding-left:20px; line-height:49px;}
.has-login span{ color:#c61522;  }


/*最新评论开始*/
.review-wrap { margin-top:-15px;}
.review-wrap .review-cell{  position:relative; padding-bottom:18px; padding-top:18px; border-bottom:1px solid #e7e7e7;}

.review-wrap .review-pic{ position:absolute; top:22px; left:0;} 
.review-wrap .review-cnt{ padding-left:67px;}
.review-wrap .review-cnt h5{ color:#0055bb; font-size:14px; display:inline; font-weight:normal;}
.review-wrap .review-cnt .timecss{ padding-left:30px;}
.review-wrap .review-txt{ padding-top:8px; font-size:14px;}
.rev-more a{ background:#f9f9f9; border:1px solid #ececec; height:37px; line-height:37px; text-align:center; margin-top:35px; display:block;}

/*文章内容页*/

.art-L{ width:250px; float:left;overflow:hidden}
.art-R{ width:808px; padding:30px 45px;  float:right; border:1px solid #ececec; overflow:hidden}


.leftnav { /*overflow: hidden;width:175px;*/ background:none; float:none; } 
.leftnav .Tit{  background:#ee781e; padding:0;   height:45px; line-height:45px; font-size:20px; font-weight:normal; }
.leftnav .Tit span{ height:45px; line-height:45px; font-size:20px; font-weight:normal; color:#fff; padding-left:25px;}

.leftnav ul { display: block; padding:0; padding:10px 0 20px 0px; background:#fff; border:1px solid #ececec;  width:248px; overflow:hidden;   }
.leftnav li { width:195px; font-size: 12px;  display: block; /*width: 208px; */ margin:0 auto ; border-bottom:1px solid #ececec;}
.leftnav a {background: url("images/arrow_ico.jpg") no-repeat 0 center; height:45px; display: block; overflow:hidden;   line-height:45px; }
.leftnav a span { padding: 0px 0 0 20px;color:#6666; font-size:16px; display: block; background: none;}
.leftnav a:hover { background: url("images/arrow_icohover.jpg") no-repeat 0 center;text-decoration: none; font-weight:normal;  }
.leftnav a:hover span {color: #d48304; }
.leftnav .cr a{ background:url("images/arrow_icohover.jpg") no-repeat 0 center; font-weight:normal;   }
.leftnav .cr span{ color: #d48304; }



.article-wrap{ min-height:360px;_height:360px;}
.article-wrap h3{ font-size: 24px; font-family: 微软雅黑, 华文细黑, 黑体, Arial;  text-align: center; padding: 8px 0 8px 0; }

.article-wrap .content { }
.article-wrap .content p,.article-wrap .content div{ color: #666; padding: 0 0 0 0; line-height:32px; font-size:14px; /*text-align: justify; text-justify: distribute;*/ }
.article-wrap .content p{ padding:0 0 1em 0;}
.article-wrap .content a{}
.article-wrap .content a:hover{color:red; text-decoration:none;}

.cur-tit{border-bottom:1px solid #ececec;margin-bottom:30px; padding-bottom:5px; height:35px;}
.cur-tit  span{ border-bottom:2px solid #ee781e;  font-size:20px; color:#666;  position:relative; top:3px; padding-bottom:5px; display:block; float:left; }



/*最新产品推荐*/
.newpro-cell{ height:92px; margin-top:20px; overflow:hidden; border-bottom:1px solid #e3e3e3; font-size:14px;}
.newprotit{ margin-bottom:12px; height:20px; }
.newprotit a,.newprotit{ color:#0055bb; font-size:14px;overflow:hidden;}
.money-css{ float:left; padding-right:18px;}
.data-css{ float:left;}
.newpro-cell em{ float:right;}
.type-css{ float:left; padding-top:2px;}
.percents-css{ float:right;padding-top:2px; width:80px; text-align:center; color:#ce4b52;}

.newprotit a .brank-css{ color:#333;}


/*同类产品推荐*/
.tab02{ margin-top:3px; margin-left:3px;}
.tab02 ul{ display:block; height:24px; }

.tab02 UL li{ float:left; border-left:1px solid #FFF;  height:30px; line-height:30px;  font-weight:normal; padding:0 12px; background:#e3e3e3; color:#4e4e4e; font-size:13px; text-align:center; cursor:pointer; font-family:"微软雅黑"}
.tab02 UL li.hover{background:#ee781e; color:#fff;font-weight:normal;}

.news-tab{ border-bottom:1px solid #a2a2a2; padding-bottom:13px; position:relative;top:3px;}
.news-tab ul li{ background:none; margin-right:35px;padding:0; font-size:16px;}
.news-tab ul li.hover{ border-bottom:2px solid #ee781e; padding-bottom:9px; position:relative;  top:-3px;  background:none; color:#333333; font-size:20px; font-family:"微软雅黑";}


/*产品最终页*/
.proinfo-wrap{ min-height:200px; _height:200px;padding:18px 0 0; margin:0 auto; }
.proinfo-wrap .core{clear: both;  padding: 0 8px 0 4px;}
.proinfo-wrap h3{ font-size: 28px; font-family: 微软雅黑, 华文细黑, 黑体, Arial; color:#333333; font-weight:bold;  text-align: left; padding: 8px 0 10px 0; }
.proinfo-wrap h3 em{ background:#c61522; padding:2px 6px; color:#fff; display:inline-block; *display:inline;*zoom:1; margin-left:20px; font-size:12px; vertical-align:middle; font-family:"宋体";}


.proinfo-wrap h4{ font-size: 18px; font-weight: normal; font-family: 微软雅黑, 华文细黑, 黑体, Arial;  text-align: center; padding: 0 0 12px 0; }
.proinfo-wrap .source{ margin-top:15px;/* height: 30px;*/ /*border-top: 1px  dotted #ccc;*/  overflow: hidden; margin-bottom:30px; }
.proinfo-wrap .source ul{ margin: 0; padding: 0; text-align: left; color: #999999; }
.proinfo-wrap .source li{ display: inline; float:left; font-size:28px; padding: 0 8px; padding-right:40px;color: #c61522; font-family:Arial, Helvetica, sans-serif; vertical-align:middle; line-height:40px;}
.proinfo-wrap .source li span,.proinfo-wrap .source li em{ color:#666666; font-size:16px; font-family:"微软雅黑";}

.proinfo-wrap .content{ margin:20px 0 0;}
.proinfo-wrap .source li img{ vertical-align:middle; border:1px solid #dcdcdc; width:80px; height:40px;}
.proinfo-wrap .content,.proinfo-wrap .content p,.proinfo-wrap .content div,.proinfo-wrap .content li{ line-height:30px; color:#666;}
.proinfo-wrap .content p{ padding:0 0 1em 0; text-indent:2em;}
.proinfo-wrap a{ color:#666;text-decoration:none;}


.tab03{ margin-top:0px; position:relative; z-index:9999;}
.tab03-fix{ position:fixed; top:0; }
.tab03 ul{display:block; height:40px; }

.tab03 ul li{ float:left; border-left:1px solid #FFF; width:177px;  height:40px; line-height:40px;  font-weight:normal; padding:0 12px; background:#e3e3e3; color:#4e4e4e; font-size:13px; text-align:center; cursor:pointer; font-family:"微软雅黑"}



.tab03 ul li.hover{background:#ee781e; color:#fff;font-weight:normal;}

.tab03 ul li.hover a{background:#ee781e; color:#fff;font-weight:normal;}

.protable{ margin-top:30px;}
.protable .greybg{ background:#f9f9f9; white-space:nowrap; width:120px; text-align:center; }
.protable .wd200{ width:100px;}
.protable td{ border:1px solid #dcdcdc; padding:13px 25px;}
.probtns{ margin-top:-30px; text-align:right;}
.probtns a{ margin-left:10px;}

.get-L{ width:350px; float:left;}
.get-R{ width:350px; float:left;}
.get-R img{ vertical-align:middle;}
.get-R span{ color:#c00; display:inline-block; *display:inline;*zoom:1; width:124px; height:70px; border:1px
 solid #dcdcdc;  font-size:24px; text-align:center; background:#fff; vertical-align:middle; padding-top:10px; }
 
 .get-R span em{ font-size:14px;}
.get-R a{ margin-right:15px;}
.go-money{ margin-bottom:0; font-size:14px;}
.go-money input{ border:1px solid #dcdcdc; height:27px; line-height:27px; padding-left:5px; width:75px; margin-right:10px;}

.get-money{ font-size:14px; margin-top:10px;}
.get-money span{ color:#c61522;}


/*登录页*/
.wrap-c100{ width:1000px; margin:0 auto; }

.logo-login{ float:left; padding-top:19px;}
.logo-login img{ width:120px; height:auto;}
.login-tel{ float:right; padding-top:25px;}
.login-tel span{ font-size:18px; color:#666666;}

.login-tel em{ font-size:26px; color:#c61522; font-family:Arial, Helvetica, sans-serif;}
.wrap-pos{ width:100%; background:#c62324;margin-top:30px;}
.wrap-pos .footers{ background:#fff; margin-top:0; padding-top:25px;}
.login-banner{  width:1200px; margin:0 auto;}
.logo-login  img{ vertical-align:middle;}
.logo-login span{background:url("images/line6.jpg") no-repeat 0 8px; font-size:28px; padding-left:15px; vertical-align:middle; margin-left:20px; position:relative; top:-3px;}
.wrap-pos{ position:relative;}
.footers{ text-align:center; margin-top:25px; line-height:22px;}

.login-wrap{ position:absolute; width:370px; height:335px; background:#fff; z-index:99; right:145px; top:45px;}
.usercss{background:url("images/user_1.jpg") no-repeat 0 0; width:286px; height:39px;}
.usercss input{ margin-left:40px; width:240px; height:36px; line-height:36px; border:none; margin-top:1px; font-size:14px; text-indent:1em; }


.pwdcss{ margin-top:18px;background:url("images/login_1.jpg") no-repeat 0 0; width:286px; height:39px; margin-bottom:15px;}
.pwdcss input{ margin-left:40px; width:240px; height:36px; line-height:36px; border:none; margin-top:1px; font-size:14px; text-indent:1em; }

.login-inner{ padding:40px 45px;}
.remeber{ float:left; vertical-align:middle; }
.remeber input{ vertical-align:middle; margin-right:5px;}
.forget{ float:right;}

.loginbtns{ display:block; width:280px; height:40px; background:#ee781e; line-height:40px; text-align:center; color:#fff; font-size:16px; margin-top:30px;}
a.loginbtns:hover{color:#fff;background:#ee781e; }


.regbtns{ display:block; width:280px; height:40px; background:#8b8b8b; line-height:40px; text-align:center; color:#fff; font-size:16px; margin-top:20px;}
a.regbtns:hover{color:#fff;background:#8b8b8b; }

.status2{ text-align:center; font-size:14px; margin-top:40px;}
.status2 span{ color:#c00; padding-right:6px; }
.status2{ line-height:30px;}
.status2 a{ padding:0 5px;}

/*注册页*/

.tab04{ padding-top:30px; position:relative; z-index:9999;}
.tab04 ul{display:block; height:40px; }
.tab04 ul li{ float:left; /*border-left:1px solid #FFF;*/ width:285px;  height:40px; line-height:40px;  font-weight:normal; background:#e3e3e3; color:#4e4e4e; font-size:16px; text-align:center; cursor:pointer; font-family:"微软雅黑"}
.tab04 ul li.hover{background:#ee781e; color:#fff;font-weight:normal;}
.tab04 ul li.hover a{background:#ee781e; color:#fff;font-weight:normal;}

.tab04 ul li.go-login{ float:right; background:none; font-size:14px; text-align:right;}
.tab04 ul li.go-login a{ color:#0055bb; padding-left:10px;}

.reg-wrap{ border:1px solid #ececec; background:#fff; min-height:400px;_height:400px;}


.reg-tips{ width:734px; padding-left:140px; border-bottom:1px solid #ececec; margin:0 auto; padding-bottom:40px; padding-top:50px; font-size:14px; line-height:24px;}

.comonbtn{ background:#ee781e; color:#fff; height:40px; line-height:40px; display:inline-block;margin-top:20px; *display:inline;*zoom:1; padding:0 45px; font-size:16px;}
a.comonbtn:hover{ color:#fff;}

.comtable{ padding:0 20px;}
.comtable td{ padding:8px 8px; font-size:14px; }
.comtable td img{ vertical-align:middle;}
.comtable td em{  padding-top:0px; font-size:12px; padding-left:10px; }
.comtable .test_right{ text-align:right; width:240px;}
.com-input{ width:280px; font-size:14px; line-height:40px; height:40px; border:1px solid #d2d2d2; padding-left:5px; padding-right:5px; vertical-align:middle; }
.com-input-yzm{ width:160px; font-size:14px; line-height:40px; border:1px solid #d2d2d2; padding-left:5px; padding-right:5px;float:left; margin-right:10px;height:40px;vertical-align:middle;}

.red{ color:#F00; padding-left:5PX;}

.gettips{ float:left;}
.get-vode{ background:#d48304; color:#fff; height:40px; line-height:40px; display:inline-block; *display:inline;*zoom:1; padding:0 25px; font-size:12px; float:left; }
a.get-vode:hover{ color:#fff;}



/*企业会员注册*/
.cor-tips{ width:874px;  border-bottom:1px solid #ececec; margin:0 auto; padding-bottom:40px; padding-top:50px; font-size:14px; line-height:24px;}
.cor-tips strong{ padding-bottom:
10px; display:block;}
.cor-tips1 { float:left; font-size:14px; padding-left:60px; padding-right:204px;line-height:24px;}
.cor-tips2 { float:left;font-size:14px; line-height:24px;}

.comtit{ color:#333333; font-size:18px; height:29px; line-height:29px; padding:0 14px; background:#ececec; float:left; margin-left:100px; margin-top:30px;}

.sel-css{ width:180px; height:30px; line-height:30px;}
.green{ font-size:14px; line-height:30px;}
.green input{ vertical-align:middle;}
.green  a{ color:#0055bb;}





/*计算器*/
.cul-wrap{ min-height:200px; _height:200px;padding:18px 0 0; margin:0 auto; }

.cul-wrap h3{ font-size: 20px; font-family: 微软雅黑, 华文细黑, 黑体, Arial; color:#333333; font-weight:normal;  text-align: center; padding: 8px 0 0px 0; }
.cul-wrap h3 em{ background:#c61522; padding:2px 6px; color:#fff; display:inline-block; *display:inline;*zoom:1; margin-left:20px; font-size:12px; vertical-align:middle; font-family:"宋体";}

.cul-wrap .content{ margin:20px 0 0;}

.cul-wrap .content,.cul-wrap .content p,.cul-wrap .content div,.cul-wrap .content li{ line-height:30px; color:#666; font-size:14px;}

.cul-wrap .content .cul-tit{ font-size:18px; padding-bottom:0px; line-height:35px; }

.cul-wrap .content p{ padding:0 0 1em 0;}
.cul-wrap a{ color:#666;text-decoration:none;}
.cul-table { width:550px; margin:0 auto; margin-top:40px; margin-bottom:40px;}
.cul-table input{ width:95px; height:40px; line-height:40px; background:#fff; border:1px solid #e7e7e7; margin-top:12px; text-align:center; font-size:16px;}
a.cul-btn{ background:#ee781e; height:40px; line-height:40px; text-align:center; display:block; color:#fff; margin-top:40px; font-size:14px;}
a.cul-btn:hover{ color:#fff;}
.cul-table td { font-size:14px;}
.cul-table td  .gets-btn{background:#e3e3e3; height:40px; line-height:40px; text-align:center; display:block; color:#c30d23; margin-top:40px; font-size:14px; width:274px; float:left;}
.cul-table td  .gets-btn em{ line-height:40px; margin-left:5px;}
.cul-table td center{ text-align:left; padding-left:4px;}
.cul-table td .gets-totel{background:#e3e3e3; height:40px; line-height:40px; text-align:center; display:block; color:#c30d23; margin-top:40px; font-size:14px; width:274px; float:right;}
.cul-table td  .gets-totel em{ line-height:40px;margin-left:5px;}



/*新闻中心频道页*/
.newsroll{ width:390px; height:310px;float:left; overflow:hidden; position:relative;}

.newstxt{ background:url(images/adbg.png); overflow:hidden; bottom:0; color:#FFF; width:390px; position:relative; top:-35px;  height:35px; line-height:30px; text-indent:1em; z-index:888; display:block; font-size:15px;  
}
.changeBox_a1{ width:390px; height:310px; }
.changeBox_a1 .a_bigImg{position:absolute;top:0px;left:0px;height:310px; width:390px;}

.ul_change_a2{position:absolute; padding-right:7px; text-align:cneter;top:282px;top:289px\9; text-align:right; right:0; padding-left:0px;overflow:hidden; z-index:9999; width:150px; height:31px; z-index:9999;}

 .ul_change_a2 li{display:inline-block;*display:inline;*zoom:1;}

 .ul_change_a2 span{ display:inline-block; *zoom:1; *display:inline; margin-right:3px; text-align:center; background:#dedede; height:8px; width:12px;  cursor:pointer;  background:url(images/tabcicle_1.png) no-repeat;}

.ul_change_a2 span.on{ background:url(images/tabcr.png) no-repeat; }


.pic3 {padding-top:20px; padding-bottom:12px;}
.pic3 img{ width:330px; height:140px;}
.newstit{  color:#333; font-size:18px; font-weight:normal; font-family:"微软雅黑"}
.news-banner{ margin-top:25px;}
.news-banner img{ width:1200px; height:100px;}


/*理财资讯*/
.news-pic5 {
margin-bottom:5px;height:100%;overflow:hidden;}
.news-pic5 .pic-core{ width:435px; float:left; padding-bottom:25px;}
.news-pic5 .pic {
float:left;width:120px;height:90px;}
.news-pic5 .content h3 { margin-top:-2px;
padding-bottom:5px;font-size:16px;padding-top:0;}
.news-pic5 .content h3 a {font-size:16px; color:#0055bb;}
.news-pic5 .content {width:245px;float:left;padding-left:18px;}
.news-pic5 .content .txt, .news-pic5 .content .txt a {
font-size:12px;line-height:18px;
}
.news-pic5 .pic img {width:120px;height:90px;
}
.inner-news{ width:900px;}

.news-list3{  padding-top:20px; border-top:1px solid #e3e3e3;}
.news-list3 li{ padding-left:0; background:none;width: 290px;}
.news-list3 li a{ padding-left:0;}

.news-list3 li a b{ font-weight:normal; color:#0055bb; padding-right:10px; margin-right:10px; background:url(images/line8.jpg) right center no-repeat;}



/*理财达人*/
.news-pic7{ height:378px; overflow:hidden;}
.news-pic6 .content{ width:210px;}
.news-pic6 .pic img{ width:100px; height:100px;}
.news-pic6 .pic{ width:100px;height:100px;}
.news-pic6 .content h3 a,.news-pic6 .content h3{ font-size:20px;}
.news-pic6 .content .txt, .news-pic6 .content .txt a{ font-size:14px; line-height:24px;}

.news-pic6 .pic-core{ height:100%; overflow:hidden; padding-bottom:26px;}
/*理财常识*/
.news-list6{ margin-top:-8px; padding-top:0;}
.news-list6 li{ line-height:28px; height:28px;} 
.news-list6 li a{} 
.news-list6 li{ padding-right:0; margin-right:0; width:330px;}

/*人物专访*/
.person-talk{ padding-top:5px; width:820px; height:215px; overflow:hidden;}
.pernal-cell{/* width:375px; */width:430px; overflow:hidden;/* padding-right:55px;*/ float:left; margin-bottom:10px; }
.per-pic img{ width:380px; height:115px;}
.pernal-cell h4{ padding-top:15px; padding-bottom:10px;}
.pernal-cell h4,.pernal-cell h4 a{ font-size:20px; font-weight:normal; 
}
.pernal-cell .per-txt,.pernal-cell .per-txt a{ font-size:14px; width:375px; color:#999999}
#QQpre{ margin-top:18px; float:right;margin-left:6px;width:18px; display:inline; cursor:pointer; margin-right:15px;}
#QQpre a{ background:#a2a2a2; color:#fff; width:18px; height:18px; display:block;float:right; text-align:center; line-height:18px; font-family:"宋体"; }
#QQpre a.cr{background:#c30d23;}
#QQnext{margin-top:18px; float:right;width:18px; display:inline;cursor:pointer;}
#QQnext a{ background:#a2a2a2; color:#fff; width:18px; height:18px; display:block;float:right; text-align:center; line-height:12px;line-height:18px; font-family:"宋体";}

/*返回顶部*/
a.backToTop {
    background: url(images/top.png) no-repeat;
    bottom: 50px;
    display: none;
    height: 50px;
    right: 15px;
    position: fixed;
	_position:absolute;
    width: 50px;
    z-index: 200;
}

/*银行黄页*/
.yellow-cnt{ border:1px solid #dcdcdc; min-height:200px;_height:200px;}

.bank-top{ height:131px; background:#f6f6f6;border-bottom:1px solid #dcdcdc; padding-top:45px; padding-left:40px;}

.bank_logo{ width:160px; height:80px; border:1px solid #dcdcdc; margin-right:20px; float:left;}
.bank_logo img{width:160px; height:80px;}

.bank-tit{ width:240px; padding-right:25px; float:left;}

.bank-tit span{ font-weight:bold; font-size:32px; color:#333333;}
.bank-tit .bank-tel{ font-size:16px; padding-top:3px; color:#333333;}
.get-moneys{ width:250px; float:left;}

.get-moneys span{ color:#000; font-size:16px;}
.get-moneys .percents{  background: url(images/money_ico.jpg) 0 5px no-repeat; padding-left:65px; height:40px; margin-top:5px; font-size:32px; color:#c61522;}

.pro-nums { width:175px; float:left;}
.pro-nums span{ color:#000; font-size:16px;}
.pro-nums .bank-nums{  background: url(images/money_ico1.jpg) 0 10px no-repeat; padding-left:55px; height:40px; margin-top:5px; font-size:32px; color:#c61522;}

.ask-wrap{ float:left; width:230px; height:72px; background: url(images/services.jpg) 0 0 no-repeat;}
.ask-wrap a{ display:block; height:72px; padding-left:50px; text-align:center; color:#fff; padding-top:15px; font-size:14px;}
.yel-box{ padding:40px 40px 20px 40px;}
.yellow-tits{ font-size:20px; padding-bottom:15px;}
.yellow-tits2{ background:#efefef; color:#333333; line-height:28px; height:28px; padding-left:15px; font-size:14px;}

.yellow-left{ width:700px; float:left;}
.yellow-right{ width:295px; float:right;}
.charts{ margin-top:20px; margin-bottom:30px;}
.yel-box1{ border-top:1px solid #dcdcdc;}
.my-sort3{ margin-top:10px;border-top:1px solid #dcdcdc; }
.my-sort3 ul li a{ font-size:14px;}

.my-sort3 ul li span{ font-size:14px;}


/*投资机构黄页*/
.bank-top2{ padding-top:28px; height:154px;}
.bank-top2 .bank_logo{ width:245px; height:122px; margin-right:90px;}
.bank-top2 .bank_logo img{width:245px; height:122px;}

.bank-top2 .corp-tit{  font-size:14px; line-height:24px; float:left; padding-right:115px;}
.bank-top2 .corp-tit2{ width:348px; font-size:14px; line-height:24px; float:left;}

.yellow-left .con-table3{ margin-top:0;}
.yellow-left .con-table th.tableft{text-align:left; padding-left:10px;}
.yellow-left .cnt-table-cell td.tableft{text-align:left; padding-left:10px;}

.cnt-table-cell td{ text-align:center; height:70px; font-size:14px; }

.yellow-left1{ width:820px;}
.namecss{ color:#0055bb; font-size:18px; width:140px;}
.namecss a{color:#0055bb; font-size:18px;}
.percents2{ color:#c61522; font-size:26px;}
.mouth{ color:#0055bb; font-size:14px;}

.progress{ text-align:left; width:80px; display:inline-block; *display:inline;*zoom:1; height:10px; border:1px solid #24bd65; margin-right:10px;}
.progress span{ background:#24bd65; height:10px;display:inline-block; *display:inline;*zoom:1; }
.percent-num{ font-size:14px; color:#24bd65;}
.btns{ background:#c61522;width:96px; display:inline-block; *display:inline;*zoom:1; height:32px; line-height:32px; color:#fff; margin-left:25px; vertical-align:middle;}
.star img{vertical-align:middle;}
a.btns:hover{color:#fff;}
.intrtips{ font-size:12px ; color:#c3c3c3;}
.intrtips span{ font-size:14px ;padding-right:10px; color:#666; padding-left:10px;}
.cnt-table-cell{ border-bottom:1px solid #e7e7e7; padding-bottom:20px;}
.cnt-table-hover{ background:#fafafa;}
.company-info p,.company-info,.company-info div,.company-info span,.company-info a,.company-info em{ font-size:14px; line-height:26px;}
.company-info p span.company-tit{ font-size:16px; padding-bottom:4px;}
.yellow-right1{ width:250px; float:right; overflow:hidden;}
.yellow-right1 .news-list6 li{ width:250px;}
.box-css3{ background:#f6f6f6; font-size:14px; color:#333333; border:1px solid #dcdcdc; padding:18px; line-height:28px;}
.tel-1{ padding-top:6px; display:block;}
.tel-1,.tel-2{ font-size:24px; line-height:28px; font-family:Arial, Helvetica, sans-serif; color:#c61522;}


